{% import "path_utils.jinja" as path_utils with context %}

{% set project = env["project"] %}
{% set deployment = env["deployment"] %}
{% set name = "%s-vm-tmpl" % env["name"] %}
{% set instanceName = "%s-vm" % deployment %}
{% set zone = properties["zone"] %}
{% set machineType = properties["machineType"] %}
{% set acceleratorType = properties["acceleratorType"] %}
{% set acceleratorCount = properties["acceleratorCount"] %}
{% set networks = [] %}
{% for network in properties["network"] %}
{% set _ = networks.append(path_utils.networkPath(network)) %}
{% endfor %}
{% set subnetworks = properties["subnetwork"] %}
{% set externalIPs = properties["externalIP"] %}
{% set bootDiskType = properties["bootDiskType"] %}
{% set bootDiskSizeGb = properties["bootDiskSizeGb"] %}
{% set hasExternalIP = externalIPs and externalIPs[0] != "NONE" %}
{# Software status only works if the VM has an external IP. #}
{% set enableStatusWaiter = hasExternalIP %}
{# Convert boolean type to integer. Stackdriver metadata items need value 0 or 1. #}
{% set enableStackdriverLogging = "1" if properties["enableStackdriverLogging"] else "0" %}
{# Convert boolean type to integer. Stackdriver metadata items need value 0 or 1. #}
{% set enableStackdriverMonitoring = "1" if properties["enableStackdriverMonitoring"] else "0" %}

{% set imageProjects = ["bitnami-launchpad", "bitnami-launchpad", "click-to-deploy-images"] %}
{% set imageNames = ["bitnami-wordpress-4-5-3-1-r16-linux-debian-8-x86-64", "bitnami-wordpress-4-6-1-0-linux-debian-8-x86-64", "wordpress-453-1607261609-debian-8-jessie-v20160718"] %}
{% set selectedImageIndex = properties["image"]|int %}

resources:
  - name: {{ name }}
    type: vm_instance.py
    properties:
      instanceName: {{ instanceName }}
      sourceImage: https://www.googleapis.com/compute/v1/projects/{{ imageProjects[selectedImageIndex] }}/global/images/{{ imageNames[selectedImageIndex] }}
      zone: {{ zone }}
      machineType: {{ machineType }}
      networks:
      {% for network in networks %}
        - {{ network }}
      {% endfor %}
      {% if subnetworks is defined and subnetworks %}
      subnetworks:
      {% for subnetwork in subnetworks %}
        - {{ subnetwork or '' }}
      {% endfor %}
      {% endif %}
      {% if externalIPs is defined and externalIPs %}
      externalIPs:
      {% for externalIP in externalIPs %}
        - {{ externalIP }}
      {% endfor %}
      {% endif %}
      bootDiskType: {{ bootDiskType }}
      bootDiskSizeGb: {{ bootDiskSizeGb }}
      disks:
        - deviceName: {{ instanceName }}-disk-one
          type: PERSISTENT
          diskType: {{ properties["disk1_type"] }}
          diskSizeGb: {{ properties["disk1_sizeGb"] }}
          boot: False
          autoDelete: True
        - deviceName: {{ instanceName }}-disk-xyz
          type: PERSISTENT
          diskType: {{ properties["disk2_type"] }}
          diskSizeGb: {{ properties["disk2_sizeGb"] }}
          boot: False
          autoDelete: False
        - deviceName: {{ instanceName }}-{{ properties["input_thirdDiskName"] }}
          type: PERSISTENT
          diskType: {{ properties["disk3_type"] }}
          diskSizeGb: {{ properties["disk3_sizeGb"] }}
          boot: False
          autoDelete: True
      localSSDs: 3
      {% if acceleratorCount > 0 %}
      guestAccelerators:
        - acceleratorType: {{ acceleratorType }}
          acceleratorCount: {{ acceleratorCount }}
      {% endif %}
      serviceAccounts:
        - email: default
          scopes:
            - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
            - 'https://www.googleapis.com/auth/devstorage.read_only'
            - 'https://www.googleapis.com/auth/logging.write'
            - 'https://www.googleapis.com/auth/monitoring.write'
            - 'https://www.googleapis.com/auth/cloudruntimeconfig'
      metadata:
        items:
          - key: bitnami-base-password
            value: $(ref.generated-password-0.password)
          - key: bitnami-db-password
            value: $(ref.generated-password-1.password)
          {% if properties["input_generateOptionalPassword"] %}
          - key: optional-password
            value: $(ref.generated-password-2.password)
          {% endif %}
          {% if enableStatusWaiter %}
          - key: status-config-url
            value: $(ref.software-status.config-url)
          - key: status-variable-path
            value: $(ref.software-status.variable-path)
          - key: status-uptime-deadline
            value: 420
          - key: startup-script
            value: $(ref.software-status-script.startup-script)
          {% else %}
          - key: startup-script
            value: |-
              #!/bin/bash
              echo SUCCESS > /var/log/startup-log.txt
          {% endif %}
          - key: admin-username
            value: admin@local
          - key: user-username
            value: user@local
          - key: some-other-domain-metadata
            value: |-
                   {{ properties["input_domain"] }}
          - key: install-phpmyadmin
            value: |-
                   {{ properties["input_installPhpMyAdmin"] }}
          - key: image-caching
            value: |-
                   {{ properties["input_imageCaching"] }}
          - key: image-compression
            value: |-
                   {{ properties["input_imageCompression"] }}
          - key: image-sizing
            value: |-
                   {{ properties["input_imageSizing"] }}
          - key: image-cache-size
            value: |-
                   {{ properties["input_imageCacheSize"] }}
          - key: cache-expiration-minutes
            value: |-
                   {{ properties["input_cacheExpiration"] }}
          - key: extra-lb-zone0
            value: |-
                   {{ properties["input_extraLbZone0"] }}
          - key: extra-lb-zone1
            value: |-
                   {{ properties["input_extraLbZone1"] }}
          - key: google-logging-enable
            value: {{ enableStackdriverLogging }}
          - key: google-monitoring-enable
            value: {{ enableStackdriverMonitoring }}
      tags:
        items:
          - {{ env["deployment"] }}-deployment
  - name: generated-password-0
    type: password.py
    properties:
      length: 8
      includeSymbols: False
  - name: generated-password-1
    type: password.py
    properties:
      length: 8
      includeSymbols: False
  {% if properties["input_generateOptionalPassword"] %}
  - name: generated-password-2
    type: password.py
    properties:
      length: 8
      includeSymbols: False
  {% endif %}
  {% if enableStatusWaiter %}
  - name: software-status
    type: software_status.py
    properties:
      timeout: 480
      waiterDependsOn:
        - {{ instanceName }}
  - name: software-status-script
    type: software_status_script.py
    properties:
      initScript: |-
        echo SUCCESS > /var/log/startup-log.txt
      checkScript: |-
        failed=$(/etc/init.d/bitnami status \
            | grep "not running" | cut -d" " -f1 | tr "\n" " ")
        if [ ! -z "$failed" ]; then
          echo "Processes failed to start: $failed"
          exit 1
        fi
  {% endif %}
  {% if properties["enableTcp80"] %}
  - name: {{ env["deployment"] }}-tcp-80
    type: compute.v1.firewall
    properties:
      network: {{ networks[0] }}
      {% if properties.get("tcp80SourceRanges") %}
      sourceRanges:
        {% for source in properties["tcp80SourceRanges"].split(',') %}
        - '{{ source | trim }}'
        {% endfor %}
      {% else %}
      sourceRanges: ["0.0.0.0/0"]
      {% endif %}
      targetTags: ["{{ env["deployment"] }}-deployment"]
      allowed:
        - IPProtocol: TCP
          ports: ["80"]
  {% endif %}
  {% if properties["enableTcp443"] %}
  - name: {{ env["deployment"] }}-tcp-443
    type: compute.v1.firewall
    properties:
      network: {{ networks[0] }}
      {% if properties.get("tcp443SourceRanges") %}
      sourceRanges:
        {% for source in properties["tcp443SourceRanges"].split(',') %}
        - '{{ source | trim }}'
        {% endfor %}
      {% else %}
      sourceRanges: ["0.0.0.0/0"]
      {% endif %}
      targetTags: ["{{ env["deployment"] }}-deployment"]
      allowed:
        - IPProtocol: TCP
          ports: ["443"]
  {% endif %}
  {% if properties["enableIcmp"] %}
  - name: {{ env["deployment"] }}-icmp
    type: compute.v1.firewall
    properties:
      network: {{ networks[0] }}
      {% if properties.get("icmpSourceRanges") %}
      sourceRanges:
        {% for source in properties["icmpSourceRanges"].split(',') %}
        - '{{ source | trim }}'
        {% endfor %}
      {% else %}
      sourceRanges: ["0.0.0.0/0"]
      {% endif %}
      targetTags: ["{{ env["deployment"] }}-deployment"]
      allowed:
        - IPProtocol: ICMP
  {% endif %}

outputs:
  - name: deployment
    value: {{ deployment }}
  - name: password0
    value: $(ref.generated-password-0.password)
  - name: password1
    value: $(ref.generated-password-1.password)
  {% if properties["input_generateOptionalPassword"] %}
  - name: password2
    value: $(ref.generated-password-2.password)
  {% endif %}
  - name: project
    value: {{ project }}
  - name: vmId
    value: $(ref.{{ instanceName }}.id)
  - name: vmExternalIP
    {% if hasExternalIP %}
    value: $(ref.{{ name }}.ip)
    {% else %}
    value: NONE
    {% endif %}
  - name: vmInternalIP
    value: $(ref.{{ name }}.internalIP)
  - name: vmName
    value: {{ instanceName }}
  - name: vmSelfLink
    value: $(ref.{{ instanceName }}.selfLink)
  - name: hasExternalIP
    value: {{ hasExternalIP }}
  - name: mainNetwork
    value: {{ networks[0] }}
