{% import "path_utils.jinja" as path_utils with context %}

{% set allTiersCount = 3 %}
{% set tiersWithNoExternalIPCount = 0 %}
{% set main_externalIPs = properties["main_externalIP"] %}
{% if main_externalIPs and main_externalIPs[0] == "NONE" %}
{% set tiersWithNoExternalIPCount = tiersWithNoExternalIPCount + 1 %}
{% endif %}
{% set main_mainNetwork = path_utils.networkPath(properties["main_network"][0]) %}
{% set tier2_externalIPs = properties["tier2_externalIP"] %}
{% if tier2_externalIPs and tier2_externalIPs[0] == "NONE" %}
{% set tiersWithNoExternalIPCount = tiersWithNoExternalIPCount + 1 %}
{% endif %}
{% set tier2_mainNetwork = path_utils.networkPath(properties["tier2_network"][0]) %}
{% set tier3_externalIPs = properties["tier3_externalIP"] %}
{% if tier3_externalIPs and tier3_externalIPs[0] == "NONE" %}
{% set tiersWithNoExternalIPCount = tiersWithNoExternalIPCount + 1 %}
{% endif %}
{% set tier3_mainNetwork = path_utils.networkPath(properties["tier3_network"][0]) %}

resources:
  - name: main-tier
    type: main_tier.jinja
    properties:
      instanceCount: {{ properties["main_instanceCount"] }}
      zone: {{ properties["zone"] }}
      network: {{ properties["main_network"] }}
      {% if properties.get("main_subnetwork") %}
      subnetwork: {{ properties["main_subnetwork"] }}
      {% endif %}
      {% if properties.get("main_externalIP") %}
      externalIP: {{ properties["main_externalIP"] }}
      {% endif %}
      machineType: {{ properties["main_machineType"] }}
      bootDiskType: {{ properties["main_bootDiskType"] }}
      bootDiskSizeGb: {{ properties["main_bootDiskSizeGb"] }}
      image: '{{ properties["main_image"] }}'
      enableCloudReadonlyApi: {{ properties["main_enableCloudReadonlyApi"] }}
      enableCloudApi: {{ properties["main_enableCloudApi"] }}
      enableComputeReadonlyApi: {{ properties["main_enableComputeReadonlyApi"] }}
      enableComputeApi: {{ properties["main_enableComputeApi"] }}
      enableSourceReadWriteApi: {{ properties["main_enableSourceReadWriteApi"] }}
      enableProjecthostingApi: {{ properties["main_enableProjecthostingApi"] }}
      generatedPassword0: $(ref.generated-password-0.password)
      generatedPassword1: $(ref.generated-password-1.password)
      {% if properties["input_generateOptionalPassword"] %}
      generatedPassword2: $(ref.generated-password-2.password)
      {% endif %}
      enableTcp80: {{ properties["main_enableTcp80"] }}
      {% if properties.get("main_tcp80SourceRanges") %}
      tcp80SourceRanges: {{ properties["main_tcp80SourceRanges"] }}
      {% endif %}
      enableTcp443: {{ properties["main_enableTcp443"] }}
      {% if properties.get("main_tcp443SourceRanges") %}
      tcp443SourceRanges: {{ properties["main_tcp443SourceRanges"] }}
      {% endif %}
      enableIcmp: {{ properties["main_enableIcmp"] }}
      enableTcp7000-7001: {{ properties["main_enableTcp7000-7001"] }}
      enableUdp: {{ properties["main_enableUdp"] }}
      {% if properties.get("main_udpSourceRanges") %}
      udpSourceRanges: {{ properties["main_udpSourceRanges"] }}
      {% endif %}
      input_domain: |-
        {{ properties["input_domain"] }}
      input_generateOptionalPassword: {{ properties["input_generateOptionalPassword"] }}
      input_superExtraDiskName: |-
        {{ properties["input_superExtraDiskName"] }}
      input_imageCaching: |-
        {{ properties["input_imageCaching"] }}
      input_imageCompression: {{ properties["input_imageCompression"] }}
      input_imageSizing: {{ properties["input_imageSizing"] }}
      input_extraLbZone0: |-
        {{ properties["input_extraLbZone0"] }}
      input_extraLbZone1: |-
        {{ properties["input_extraLbZone1"] }}
      tier2_instanceCount: {{ properties["tier2_instanceCount"] }}
      main_disk1_type: {{ properties["main_disk1_type"] }}
      main_disk1_sizeGb: {{ properties["main_disk1_sizeGb"] }}
      main_disk2_type: {{ properties["main_disk2_type"] }}
      main_disk2_sizeGb: {{ properties["main_disk2_sizeGb"] }}
      main_disk3_type: {{ properties["main_disk3_type"] }}
      main_disk3_sizeGb: {{ properties["main_disk3_sizeGb"] }}
      enableStackdriverLogging: {{ properties["enableStackdriverLogging"] }}
      enableStackdriverMonitoring: {{ properties["enableStackdriverMonitoring"] }}
  - name: tier2-tier
    type: tier2_tier.jinja
    properties:
      instanceCount: {{ properties["tier2_instanceCount"] }}
      zone: {{ properties["zone"] }}
      network: {{ properties["tier2_network"] }}
      {% if properties.get("tier2_subnetwork") %}
      subnetwork: {{ properties["tier2_subnetwork"] }}
      {% endif %}
      {% if properties.get("tier2_externalIP") %}
      externalIP: {{ properties["tier2_externalIP"] }}
      {% endif %}
      machineType: {{ properties["tier2_machineType"] }}
      bootDiskType: {{ properties["tier2_bootDiskType"] }}
      bootDiskSizeGb: {{ properties["tier2_bootDiskSizeGb"] }}
      acceleratorType: {{ properties["tier2_acceleratorType"] }}
      acceleratorCount: {{ properties["tier2_acceleratorCount"] }}
      generatedPassword0: $(ref.generated-password-0.password)
      generatedPassword1: $(ref.generated-password-1.password)
      {% if properties["input_generateOptionalPassword"] %}
      generatedPassword2: $(ref.generated-password-2.password)
      {% endif %}
      enableTcp9878: {{ properties["tier2_enableTcp9878"] }}
      enableUdp2555: {{ properties["tier2_enableUdp2555"] }}
      input_domain: |-
        {{ properties["input_domain"] }}
      input_showConditionals: {{ properties["input_showConditionals"] }}
      input_generateOptionalPassword: {{ properties["input_generateOptionalPassword"] }}
      input_tier2LocalSSDs: {{ properties["input_tier2LocalSSDs"] }}
      input_imageCaching: |-
        {{ properties["input_imageCaching"] }}
      input_imageCompression: {{ properties["input_imageCompression"] }}
      input_imageSizing: {{ properties["input_imageSizing"] }}
      input_extraLbZone0: |-
        {{ properties["input_extraLbZone0"] }}
      input_extraLbZone1: |-
        {{ properties["input_extraLbZone1"] }}
      main_instanceCount: {{ properties["main_instanceCount"] }}
      enableStackdriverLogging: {{ properties["enableStackdriverLogging"] }}
      enableStackdriverMonitoring: {{ properties["enableStackdriverMonitoring"] }}
  - name: tier3-tier
    type: tier3_tier.jinja
    properties:
      instanceCount: {{ properties["tier3_instanceCount"] }}
      zone: {{ properties["zone"] }}
      network: {{ properties["tier3_network"] }}
      {% if properties.get("tier3_subnetwork") %}
      subnetwork: {{ properties["tier3_subnetwork"] }}
      {% endif %}
      {% if properties.get("tier3_externalIP") %}
      externalIP: {{ properties["tier3_externalIP"] }}
      {% endif %}
      machineType: {{ properties["tier3_machineType"] }}
      bootDiskType: {{ properties["tier3_bootDiskType"] }}
      bootDiskSizeGb: {{ properties["tier3_bootDiskSizeGb"] }}
      acceleratorType: {{ properties["tier3_acceleratorType"] }}
      acceleratorCount: {{ properties["tier3_acceleratorCount"] }}
      generatedPassword0: $(ref.generated-password-0.password)
      generatedPassword1: $(ref.generated-password-1.password)
      {% if properties["input_generateOptionalPassword"] %}
      generatedPassword2: $(ref.generated-password-2.password)
      {% endif %}
      enableTcp9000: {{ properties["tier3_enableTcp9000"] }}
      enableUdp2333: {{ properties["tier3_enableUdp2333"] }}
      enableStackdriverLogging: {{ properties["enableStackdriverLogging"] }}
      enableStackdriverMonitoring: {{ properties["enableStackdriverMonitoring"] }}
  - name: generated-password-0
    type: password.py
    properties:
      length: 8
      includeSymbols: False
  - name: generated-password-1
    type: password.py
    properties:
      length: 8
      includeSymbols: False
  {% if properties["input_generateOptionalPassword"] %}
  - name: generated-password-2
    type: password.py
    properties:
      length: 8
      includeSymbols: False
  {% endif %}

outputs:
  - name: deployment
    value: {{ env["deployment"] }}
  - name: project
    value: {{ env["project"] }}
  - name: password0
    value: $(ref.generated-password-0.password)
  - name: password1
    value: $(ref.generated-password-1.password)
  {% if properties["input_generateOptionalPassword"] %}
  - name: password2
    value: $(ref.generated-password-2.password)
  {% endif %}
  {% for vmIndex in range(properties["main_instanceCount"]) %}
  - name: main_vmId{{ vmIndex }}
    value: $(ref.main-tier.vmId{{ vmIndex }})
  - name: main_vmExternalIP{{ vmIndex }}
    value: $(ref.main-tier.vmExternalIP{{ vmIndex }})
  - name: main_vmInternalIP{{ vmIndex }}
    value: $(ref.main-tier.vmInternalIP{{ vmIndex }})
  - name: main_vmName{{ vmIndex }}
    value: $(ref.main-tier.vmName{{ vmIndex }})
  - name: main_vmSelfLink{{ vmIndex }}
    value: $(ref.main-tier.vmSelfLink{{ vmIndex }})
  {% endfor %}
  - name: main_mainNetwork
    value: {{ main_mainNetwork }}
  {% for vmIndex in range(properties["tier2_instanceCount"]) %}
  - name: tier2_vmId{{ vmIndex }}
    value: $(ref.tier2-tier.vmId{{ vmIndex }})
  - name: tier2_vmExternalIP{{ vmIndex }}
    value: $(ref.tier2-tier.vmExternalIP{{ vmIndex }})
  - name: tier2_vmInternalIP{{ vmIndex }}
    value: $(ref.tier2-tier.vmInternalIP{{ vmIndex }})
  - name: tier2_vmName{{ vmIndex }}
    value: $(ref.tier2-tier.vmName{{ vmIndex }})
  - name: tier2_vmSelfLink{{ vmIndex }}
    value: $(ref.tier2-tier.vmSelfLink{{ vmIndex }})
  {% endfor %}
  - name: tier2_mainNetwork
    value: {{ tier2_mainNetwork }}
  {% for vmIndex in range(properties["tier3_instanceCount"]) %}
  - name: tier3_vmId{{ vmIndex }}
    value: $(ref.tier3-tier.vmId{{ vmIndex }})
  - name: tier3_vmExternalIP{{ vmIndex }}
    value: $(ref.tier3-tier.vmExternalIP{{ vmIndex }})
  - name: tier3_vmInternalIP{{ vmIndex }}
    value: $(ref.tier3-tier.vmInternalIP{{ vmIndex }})
  - name: tier3_vmName{{ vmIndex }}
    value: $(ref.tier3-tier.vmName{{ vmIndex }})
  - name: tier3_vmSelfLink{{ vmIndex }}
    value: $(ref.tier3-tier.vmSelfLink{{ vmIndex }})
  {% endfor %}
  - name: tier3_mainNetwork
    value: {{ tier3_mainNetwork }}
  - name: main_hasExternalIP
    value: $(ref.main-tier.hasExternalIP)
  - name: tier2_hasExternalIP
    value: $(ref.tier2-tier.hasExternalIP)
  - name: tiersWithNoExternalIPStatus
    {% if tiersWithNoExternalIPCount == 0 %}
    value: 'NONE'
    {% elif tiersWithNoExternalIPCount < allTiersCount %}
    value: 'SOME'
    {% else %}
    value: 'ALL'
    {% endif %}
