{namespace vm.single}

import * as proto from 'java/com/google/cloud/deploymentmanager/autogen/deployment_package_autogen_spec.proto';

{template .c2d_deployment_configuration kind="text"}
{@param spec: proto.SingleVmDeploymentPackageSpec}

{lb}
  "defaultDeploymentType": "SINGLE_VM",
  "imageName": "{$spec.imagesList[0].name}",
  "projectId": "{$spec.imagesList[0].project}",
  "templateName": "nonexistent_template",
  "useSolutionPackage": true
{rb}

{/template}
