{namespace vm.single}

{template .c2d_deployment_configuration kind="text"}
{@param spec: cloud.deploymentmanager.autogen.SingleVmDeploymentPackageSpec}

{lb}
  "defaultDeploymentType": "SINGLE_VM",
  "imageName": "{$spec.imagesList[0].name}",
  "projectId": "{$spec.imagesList[0].project}",
  "templateName": "nonexistent_template",
  "useSolutionPackage": true
{rb}

{/template}
