{namespace vm.multi.tierTf}

{template main kind="text"}
resource "google_compute_instance" "instance" {lb}
  count = var.instance_count

  // Hard code values initially for development
  name = "hardcode-${lb}count.index{rb}"
  zone = "us-central1-a"
  machine_type = "e2-medium"

  boot_disk {lb}
    initialize_params {lb}
      image = "debian-cloud/debian12"
    {rb}
  {rb}

  network_interface {lb}
    network = "default"
  {rb}
{rb}
{/template}
