{namespace vm.multi.test_config}

import {MultiVmDeploymentPackageSpec} from 'java/com/google/cloud/deploymentmanager/autogen/deployment_package_autogen_spec.proto';

/** Generates top level template solution.jinja file. */
{template main kind="text"}
{@param solutionId: string}
{@param spec: MultiVmDeploymentPackageSpec}

{let $template: $solutionId + '.jinja'/}

imports:
- path: {$template}
{\n}
resources:
- name: {$solutionId}
  type: {$template}

  {let $testDefaultedFields: $spec.getDeployInput() ? findInputsWithTestDefaultValues($spec.getDeployInput()) : [] /}
  {let $defaultMap: getTestConfigDefaultValues($spec)/}
  {if $testDefaultedFields.length > 0 or $defaultMap.keys().length > 0}
  properties:
  {for $field in $testDefaultedFields}
    {deployInputFieldName($field) |yamlprimitive: 4}: {findInputTestDefaultValue($field) |yamlprimitive: 4}
  {/for}
  {for $key in $defaultMap.keys()}
    {$key |yamlprimitive: 4}: {$defaultMap.get($key) |yamlprimitive: 4}
  {/for}
  {/if}
{/template}
